.padding-main{
    padding: 1.5% 10%;
}

.popup{
    display: none;
    border:double;
    position: absolute;
    width: 300px;
    padding: 15px 30px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #A8A8A8;
}

.yesORno{
    margin-top: 20px;
}

.home{
    width: 10%;
}
.home a{
    color: #000;
    font-size: 10px;
    text-decoration: none;
}

.flex{
    display: flex;
}

.symmetry-objects{
    align-items: center;
    justify-content: space-between;
}

.wrap{
    text-align: center;
}
.table-center{
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 5px;
}

.pagination{
    list-style: none;
}
.pageno{
    cursor: pointer;
    color: blue;
}
.count-box{
    margin: 10px 5px;
}
.page-link{
    text-decoration: none;
    color: blue;
}
.disabled{
    pointer-events: none;
    color: #000;
}

.error-text{
    color: red;
}

.split{
    justify-content: space-between;
    align-items: center;
}

.page-count{
    margin: 0 10px;
}